<div class="logo_title">
	<img src="{{ asset('build/images/logo_wild_code_school.png') }}" alt="" class="logo"/>
	<a href="/">
		<h1>Wild Séries</h1>
	</a>
</div>
<div class="display">
	<h2>Catégories</h2>
	<ul>
		<li><a href="_horror-category">Horreur</a></li>
		<li><a href="action-categoryAction">Action</a></li>
		<li><a href="_horror-categoryRomantique">Romantique</a></li>
	</ul>

</div>
<div class="display">
	<h2>Acteurs</h2>
	<ul>
		<li><a href="_Robert_De_Niro">Robert De Niro</a></li>
		<li><a href="_Leonardo_DiCaprio">Leonardo DiCaprio</a></li>
		<li><a href="_Kevin_Spacey">Kevin Spacey</a></li>
	</ul>
</div>

<div class="favorites">
	<a href="_favorite">Mes Favoris</a>
</div>
<div class="unlog">
	<a href="unlog">Déconnexion</a>
</div>
<div class="profil">
	<a href="_profil">Axel Juste</div>
