{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<img src="{{ asset('build/images/bouvier.jpeg') }}" alt=""/>


	<h1>Bienvenue
		{{ visitor }}
	</h1>


{% endblock %}
